*.apk
*.iml
*gradlew*
.DS_Store
.gradle
/.idea
/build
/gradle
/local.properties
google-services.json
gradle.properties
manifest-merger-release-report.txt
mobile/src/debug/res/values/google_maps_api.xml
mobile/src/main/java/org/thecosmicfrog/luasataglance/util/Auth.java
mobile/src/release/res/values/google_maps_api.xml
projectFilesBackup

