*.apk
.DS_Store
/build
.gradle
/gradle
*gradlew*
gradle.properties
/.idea
*.iml
/local.properties
manifest-merger-release-report.txt
mobile/src/main/java/org/thecosmicfrog/luasataglance/util/Auth.java

