*.apk
.DS_Store
/build
google-services.json
.gradle
/gradle
*gradlew*
gradle.properties
/.idea
*.iml
/local.properties
manifest-merger-release-report.txt
mobile/src/debug/res/values/google_maps_api.xml
mobile/src/main/java/org/thecosmicfrog/luasataglance/util/Auth.java
mobile/src/release/res/values/google_maps_api.xml
projectFilesBackup

