<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" package="org.thecosmicfrog.luasataglance">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Required for Luas Map to be able to open Google Maps app. -->
    <queries>
        <package android:name="com.google.android.apps.maps" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--
            Set custom default icon. This is used when no icon is set for incoming notification
            messages.
         -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/laag_logo_notification" />
        <!--
            Set color used with incoming notification messages. This is used when no color is set
            for the incoming notification message.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/luas_purple" />

        <!--
            Official Google hack required since targeting API level >= 28 (Android 9.0).
            https://developers.google.com/maps/documentation/android-sdk/config#specify_requirement_for_apache_http_legacy_library
        -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FavouritesSelectActivity"
            android:label="@string/title_activity_favourites_select" />
        <activity
            android:name=".activity.NewsActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.thecosmicfrog.luasataglance.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.thecosmicfrog.luasataglance.activity.SettingsActivity" />
        </activity>
        <activity android:name=".widget.StopForecastWidgetConfigureActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver android:name=".receiver.NotifyTimesReceiver" android:exported="true">
            <intent-filter>
                <action android:name="org.thecosmicfrog.luasataglance.activity.NotifyTimeActivity" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.OnAppUpdateReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".widget.StopForecastWidget" android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stop_forecast_widget_info" />
        </receiver>

        <service android:name=".service.WearMessageListenerService" android:exported="true">
            <intent-filter>
                <action
                    android:name="com.google.android.gms.wearable.BIND_LISTENER"
                    tools:ignore="WearableBindListener" />
            </intent-filter>
        </service>
        <service
            android:name=".service.WidgetListenerService"
            android:enabled="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.MapsActivity"
            android:label="@string/title_activity_maps"
            android:theme="@style/Theme.AppCompat.Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.thecosmicfrog.luasataglance.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.FavouritesActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".activity.FaresActivity"
            android:label="@string/title_activity_fares">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.NotifyTimeActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".activity.LicenseActivity"
            android:label="@string/title_activity_license"
            android:parentActivityName=".activity.AboutActivity" />
        <activity
            android:name=".activity.AboutActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".activity.WhatsNewActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <service
            android:name=".service.MessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.WearMessageListenerService"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="com.google.android.gms.wearable.BIND_LISTENER"
                    tools:ignore="WearableBindListener" />
            </intent-filter>
        </service>
    </application>

</manifest>