<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.thecosmicfrog.luasataglance"
    android:versionCode="8"
    android:versionName="0.12">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.Light" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RedLineActivity"
            android:label="@string/title_activity_red_line" >
        </activity>
        <activity
            android:name=".GreenLineActivity"
            android:label="@string/title_activity_green_line" >
        </activity>
        <activity
            android:name=".StopForecastActivity"
            android:label="@string/title_activity_stop_forecast" >
        </activity>
    </application>
</manifest>